@model List<Slider>



@foreach (var slider in Model)
{

            <div class="@slider.ClassName.ToLower()">
                <img src="@slider.Image" alt="">
                <div class="text-1">
                    <p>Exclusive offer <span class="btn-success discount-text">&nbsp; @slider.Discount% off &nbsp; </span></p>
                    @Html.Raw(slider.Title)
                    <p>@slider.SubTitle</p>
                    <span>from</span>
                    <span class="text-danger price">$@slider.Price</span>
                    <button class="btn btn-primary">Shop Now <i class="fa-solid fa-right-long"></i></button>
                </div>
            </div>
}
            